version: '3.9'

services:
  app:
    container_name: doit-app
    build:
      dockerfile: Dockerfile
      context: .
    ports:
      - "8090:8090"
    environment:
      DB_HOST: postgres
      DB_DRIVER: postgres
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_PORT: 5432
      MONGO_HOST: mongo
      MONGO_PORT: 27017
      MONGO_USER: ${MONGO_USER}
      MONGO_PASSWORD: ${MONGO_PASSWORD}
    restart: on-failure
    depends_on:
      - postgres
      - mongo
    networks:
      - doit

  postgres:
    container_name: doit-postgres
    image: postgres:10
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - ~/data/db/postgres/doit:/var/lib/postgresql/data
    networks:
      - doit

  mongo:
    container_name: doit-mongo
    image: mongo:5.0
    ports:
      - ${MONGO_PORT}:27017
    volumes:
      - ~/data/db/mongodb/doit:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
    networks:
      - doit

networks:
  doit:
    driver: bridge
